/*footer.css*/

footer {
    text-align: center;
    padding: 0.625rem 0; /* 10px */
    background: var(--cor-primaria); /* Usando a variável de cor primária */
    color: var(--cor-secundaria); /* Usando a variável de cor secundária */
    margin-top: 1.25rem; /* 20px */
}

.direitos-reservados {
    font-size: 0.875rem; /* Aumentado para melhorar a legibilidade */
    margin: 1.25rem; /* 20px */
}

.social_media-icons-footer {
    width: 2.5rem; /* Aumentado para melhor exibição dos ícones */
    height: auto;
    display: inline-block;
    margin: 0.125rem 0.3125rem; /* 2px 5px */
}