/*header.css*/

header {
    background: var(--cor-primaria);
    color: var(--cor-secundaria);
    padding: 0.625rem 0; /* 10px */
    text-align: center;
    font-size: 2.5rem; /* 40px */
}

.banner-1 {
    width: 60%;
    height: auto;
    margin: 0 7%; /* 20px */
    margin-top: 1rem;
}

.page-titles {
    padding: 0.625rem 0; /* 10px */
    text-align: center;
    font-size: 2.5rem; /* 40px */
    text-transform: uppercase;
}

.logo {
    width: 10%;
    height: auto;
    margin-right: 0.625rem; /* 10px */
}