.operation {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Alinhamento lado a lado */
    margin: 0 0; /* 20px */
    width: 100%;
}

.operacao-selected {
    box-shadow: 0 0.125rem 0.625rem #ffffff1a; /* Sombra leve */
    background-color: #ffffff; /* Fundo claro para os planos */
    border: 2px solid #940101; /* Borda leve */
    border-radius: 0.5rem; /* Bordas arredondadas */
    margin: 0.625rem; /* 10px */
    padding: 1.25rem; /* 20px */
    text-align: center;
    color: black;
    transition: transform 0.3s, box-shadow 0.3s; /* Transição suave */
    width: 10%;
}
    
.operacao-selected:hover {
        transform: scale(1.03); /* Aumenta o tamanho ao passar o mouse */
        box-shadow: 0 0.25rem 1.25rem rgba(0, 0, 0, 0.2); /* Sombra mais intensa */
}