.package-section {
    display: none; /* Inicialmente escondido */
    background-color: #f9f9f9;
    padding: 1.25rem; /* 20px */
    border-radius: 0.5rem; /* 8px */
    margin: 1.25rem 1.25rem 0.625rem 0.625rem; /* 20px 20px 10px 10px */
    width: 96%;
}

.package-section h3 {
    color: #000;
}   

.package-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.package {
    color: black;
    box-shadow: 0 0.125rem 0.625rem rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    border-radius: 0.5rem; /* Bordas arredondadas */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza os itens horizontalmente */
    text-align: center; /* Centraliza o texto */
    margin: 0.625rem; /* 10px */
    padding: 1.25rem; /* 20px */
    transition: transform 0.3s, box-shadow 0.3s; /* Transição suave */
}

.package h4 {
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
}

.package:hover {
    transition: transform 0.3s, box-shadow 0.3s;
    transform: scale(1.05); /* Aumenta o tamanho ao passar o mouse */
    box-shadow: 0 0.25rem 1.25rem rgba(0, 0, 0, 0.2); /* Sombra mais intensa */
}

.package-premium {
    background-color: #131313;
    color: #fff;
    border: 1px solid #940101;
    border-radius: 0.5rem; /* 8px */
    padding: 0.9375rem; /* 15px */
    margin: 0.625rem; /* 10px */
    text-align: center;
    flex: 1 1 calc(25% - 1.25rem); /* 20px */
    box-shadow: 0 0.125rem 0.625rem rgba(0, 0, 0, 0.1);
}

.package-section-selected {
    display: block; /* Exibe a seção selecionada */
    margin-top: 3rem;
}

.header-packages {
    display: flex;
}

.package-icon {
    width: 2.5rem; /* 40px */
    height: 2.5rem; /* 40px */
    margin-bottom: 0.3125rem; /* 5px */
}

.package-icon-premium {
    width: 1.875rem; /* 30px */
    margin-bottom: 0.625rem; /* 10px */
}

.price {
    display: flex;
}

.feature-icon-rejected {
    width: 1.25rem; /* Ajuste o tamanho do ícone */
    height: auto;
    margin-bottom: -0.3rem; /* -0.4px */
    margin-right: 0.610rem; /* 10px */
    align-items: center;
}